body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.offcanvas{
background-color: aliceblue;
}
.offcanvas-backdrop.show {
  opacity: -18.5;
}
.offcanvas-start  {
  width:242px !important;
}
.navbar-brand{
color:beige !important;
}
.page-footer{
  background-color: black;
  color: white;
}
.navli{
  display:flex

}
.login-button{
  padding-left: 2.5rem; padding-right: 2.5rem;
}
